<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title >template_basic</title>
    </head>
    <body>
        <div class="body">
            <div class="header">
                <header>

                </header>
            </div>
            <div class="content">
                <div class="sidebar">
                    <s

                </div>
                <div class="article">
                    <article>

                    </article>
                </div>
                <div class="nav">
                    <nav>

                    </nav>
                </div>

            </div>
            <div class ="footer">
                <footer>

                </footer>
            </div>
        </div>

    </body>
</html>